$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
html,
body {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    // position: absolute;
    // top: 0;
    // left: 0;
    // bottom: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex: 0 0 auto;
    padding:0;
}

.main {
    width: 400px;
    height: 400px;
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.center-block__image {
    line-height: 100%;
    width: 100%;
    min-width: 100px;
    max-width: 200px;
}

.sidebar {
    flex: 0 0 auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    transition: all 0.3s;
    box-shadow: inset 0 0 5px 5px #222;
    width:0;

    &.show {
      width: 200px;
      padding: 20px;
    }
}



.sidebar__icon {
    position: absolute;
    z-index: 10;
    top: 3px;
    right: 3px;
    background: yellow;
    cursor: pointer;
    font-size: 3em;
}

@media screen and (min-width: 768px) {}
